* {
    margin: 0;
    padding: 0;
  }
  
  @font-face {
    font-family: font1;
    src: url("fonts/Abel-Regular.woff");
  }
  
  @font-face {
    font-family: font2;
    src: url("fonts/Barlow-Regular.woff");
  }
  
  @font-face {
    font-family: font3;
    src: url("fonts/Grandstander-Thin.woff");
  }
  
  @font-face {
    font-family: font4;
    src: url("fonts/Lato-Regular.woff");
  }
  
  @font-face {
    font-family: font5;
    src: url("fonts/Montserrat-Regular.woff");
  }
  
  @font-face {
    font-family: font6;
    src: url("fonts/Nunito-Regular.woff");
  }
  
  @font-face {
    font-family: font7;
    src: url("fonts/Satisfy-Regular.WOFF");
  }
  
  @font-face {
    font-family: font8;
    src: url("fonts/Righteous-Regular.WOFF");
  }
  
  @font-face {
    font-family: font9;
    src: url("fonts/LondrinaSolid-Regular.WOFF");
  }
  
  @font-face {
    font-family: font10;
    src: url("fonts/LobsterTwo-Regular.WOFF");
  }
  
  @font-face {
    font-family: font11;
    src: url("fonts/BigShouldersInlineText-Regular.WOFF");
  }
  
  @font-face {
    font-family: font12;
    src: url("fonts/BigShouldersInlineText-Black.WOFF");
  }
  
  @font-face {
    font-family: font13;
    src: url("fonts/Akronim-Regular.woff");
  }
  
  @font-face {
    font-family: font14;
    src: url("fonts/Akronim-Regular-1.woff");
  }
  
  @font-face {
    font-family: font15;
    src: url("fonts/AndadaPro-Regular.woff");
  }
  
  @font-face {
    font-family: font16;
    src: url("fonts/ArchitectsDaughter-Regular.woff");
  }
  
  @font-face {
    font-family: font17;
    src: url("fonts/Birthstone-Regular.woff");
  }
  
  @font-face {
    font-family: font18;
    src: url("fonts/OpenSansCondensed-Bold.woff");
  }
  
  @font-face {
    font-family: font19;
    src: url("fonts/OpenSansCondensed-Light.woff");
  }
  
  @font-face {
    font-family: font20;
    src: url("fonts/Oswald-Regular.woff");
  }
  
  @font-face {
    font-family: font21;
    src: url("fonts/Poppins-Regular.woff");
  }
  
  @font-face {
    font-family: font22;
    src: url("fonts/Raleway-Regular.woff");
  }
  
  @font-face {
    font-family: font23;
    src: url("fonts/Ubuntu-Bold.woff");
  }
  
  @font-face {
    font-family: font24;
    src: url("fonts/Ubuntu-Regular.woff");
  }
  
/* body html */

body {
    background:white;
}
/* header */
header {
display: flex;
margin-left: 2%;
}
h1 {
  font-family: font9;
  color: ghostwhite;
  font-size: 35px;
  display: block;
  letter-spacing:1px;
  word-spacing: -5px;
}


nav {
background: black;
width: 100%;
display: flex;
justify-content: space-between;
position: relative;
padding-bottom: 2%;
padding-top: 2%;
text-align: center;
align-items: center;
}
.nav-content{
display: flex;
margin-right: 2%;
}
nav .nav-content .logo-for-nav{
display: flex;
margin: auto 0;
}
nav .nav-content ul {
display: flex;
margin: 0;
padding: 0;
}
nav .nav-content ul li{
list-style-type: none;
}
a {
text-decoration: none;
text-transform: uppercase;
font-family: 'font5';
font-size: 16px;
padding: 10px;
color: ghostwhite;
}
a:hover {
  color: lightseagreen;
  transition: .7s ease-in-out;
}
nav .toggle-btn{
  position: absolute;
  top: .75rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 18px;
  height: 16px;
}
nav .toggle-btn .bar{
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
main {
height: 67em;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
position: relative;
}
main .advert-content{
  width: 45%;
  margin: 0 auto;
}
h2 {
    font-size: 3em;
    display: block;
    font-family: 'font5';
}
span {
  display: block;
  font-size: 36px;
}
.mainimg {
  width: 100%;
  margin-top: 4%;
  border-radius: 5px;
  image-rendering: pixelated;
  box-shadow: 0px 0px 10px #0e0d0d;
}
.inner-ad-cont{
text-align: center;
}
.lux{
  display: inline-block;
  font-size: 2.4em;
  font-family: 'font5';
}
n {
  position: relative;
  border-top: 2px solid black;
  background: lightseagreen;
  height: 14em;
}
.lux2 {
    padding: 1em;
    font-family: 'font10';
    text-align: center;
    font-size: 1.7em;
}
.ipocup {
width: 70%;
height: 30px;
border: 1px solid;
outline: none;
margin-top: 2%;
}
.ipocup::placeholder{
text-align: center;
}
form { 
 display: flex;
 width: 70%;
 border-radius: 3px;
 background: rgb(225, 225, 225);
 flex-direction: column;
 align-items: center;
 margin-bottom: 2%;
 box-shadow: 0 0 14px 0px grey;
}

select {
  width: 70%;
  height: 35px;
  border: 1px solid;
  outline: none;
  margin-top: 2%;
  background-color: rgb(9, 103, 103);
  color: #fff;
  text-align: center;
}
select:focus{
border: 2px solid white;
width: 75%;
transition: .4s ease-in-out;
}
footer {
  width: 100%;
  height: 9em;
  background-color: currentColor;
}
.overimg {
  width:100%;
  position: absolute;
  display: block;
  opacity: 0.2;
  height: 67em;
}

.dropdown {
  background-color: black;
  opacity: .7;
  border: 2px solid whitesmoke;
  width: 11.7em;
  height: 3.1em;
  position: relative;
  color: white;
  font-size: 18px;
  font-family: font2;
  cursor: pointer;
}

.ipbtn {
  width: 25%;
  height: 40px;
  text-align: center;
  background-color: rgb(3, 112, 92);
  color: ghostwhite;
  border: none;
  cursor: pointer;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'font20';
  letter-spacing: 2px;
  border-radius: 5px;
  margin-bottom: 2%;
}
.iploc::placeholder {
  padding: 8px;
}
.ipocup::placeholder {
  padding: 8px;
}
select::placeholder {
  padding: 8px;
}
#inner-ad{
margin-top: 20%;
}

@media (max-width:1000px){
h1{
font-size: 20px;
}
nav{
flex-direction: column;
align-items: flex-start;
}
nav .toggle-btn {
display: flex;
right: 0;
margin-top: -2%;
/*margin-right: 2%;*/
}
nav .toggle-btn .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
nav .nav-content ul li{
padding: 15px;
}
nav .nav-content{
display: none;
}

nav .nav-content{
flex-direction: column;
width: 100%;
}
nav .nav-content.active{
display: flex;
}
nav .nav-content ul{
flex-direction: column;
width: 100%;
margin-bottom: 3%;
}
nav .nav-content .logo-for-nav{
  margin: 5px auto;
}
h2{
font-size: 13px;
}
span{
font-size: 18px;
}
.dropdown{
width: 100px;
height: 30px;
font-size: 13px;
}
.lux{
font-size: 20px;
}
#inner-ad{
margin-top: 35%;
}
form{
margin-bottom: 5%;
}
}
@media (max-width:400px){
nav .toggle-btn{
margin-top: -3%;
}
select{
font-size: 10px;
}
.ipbtn{
font-size: 10px;
}
.mainimg{
  height: 200px;
image-rendering: pixelated;
}
.overimg{
height: 27em;
}
main{
height: auto;
}
}